pipeline/pl_notbookexample.json
{
	"name": "pl_notbookexample",
	"properties": {
		"activities": [
			{
				"name": "Copydata",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SqlServerTablesParam",
						"type": "DatasetReference",
						"parameters": {
							"pDsServerName": "localhost\\SQLEXPRESS",
							"pDsDatabaseName": "dev_clintrail_edc_src",
							"pDsSchemaName": "edcsrcmetadata",
							"pDsTableName": "srcEdcClintrailToLandControl"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": []
						}
					]
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Daily Practice PipeLines/sqlserver_oracle_data_laod"
		},
		"annotations": []
	}
}