pipeline/pl_pipeline_variable_.json
{
	"name": "pl_pipeline_variable_",
	"properties": {
		"activities": [
			{
				"name": "copy_sourcefile_to_targetfiles",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "setvartargetfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sourcefiles_variable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_targetfiles_variable",
						"type": "DatasetReference",
						"parameters": {
							"pTargetFileName": {
								"value": "@concat('Cust_',variables('vCurrTimeStamp'),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "setvartargetfile",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vCurrTimeStamp",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vCurrTimeStamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Azure Data Factory Daily Practice PipeLines/for_each_activity"
		},
		"annotations": [],
		"lastPublishTime": "2026-06-23T02:30:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}