pipeline/pl_SQLserverSrc_ADLSGen2Landing.json
{
	"name": "pl_notbookexample",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SqlServerTablesParam",
						"type": "DatasetReference",
						"parameters": {
							"pDsServerName": "localhost\\SQLEXPRESS",
							"pDsDatabaseName": "dev_clintrail_edc_src",
							"pDsSchemaName": "edcsrcmetadata",
							"pDsTableName": "srcEdcClintrailToLandControl"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copydata_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().SrcSchemaName}.@{item().SrcTableName}"
								},
								{
									"name": "Destination",
									"value": "@{item().LandingContainerName}/@{concat(item().SrcSchemaName,'/',item().SrcTableName,'/ingest_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))}/@{concat(item().SrcTableName,'.parquet')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@if(equals(item().IngestionType,'Incremental'),\n    concat('SELECT * FROM ',item().SrcSchemaName,'.',item().SrcTableName,\n           ' WHERE ',coalesce(item().WatermarkColName,''),\n           ' > ''',coalesce(string(item().WatermarkColValue),''),''''),\n    concat('SELECT * FROM ',item().SrcSchemaName,'.',item().SrcTableName))",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_SqlServerTablesParam",
									"type": "DatasetReference",
									"parameters": {
										"pDsServerName": {
											"value": "@item().SrcServerName",
											"type": "Expression"
										},
										"pDsDatabaseName": {
											"value": "@item().SrcDatabaseName",
											"type": "Expression"
										},
										"pDsSchemaName": {
											"value": "@item().SrcSchemaName",
											"type": "Expression"
										},
										"pDsTableName": {
											"value": "@item().SrcTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_clinical_param",
									"type": "DatasetReference",
									"parameters": {
										"pDsContainerName": {
											"value": "@item().LandingContainerName",
											"type": "Expression"
										},
										"pDsFolderName": {
											"value": "@concat(item().SrcSchemaName,'/',item().SrcTableName,'/ingest_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"pDsFileName": {
											"value": "@concat(item().SrcTableName, '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LookupGetMaxMetaData",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copydata_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT MAX([', coalesce(item().WatermarkColName,'MODIFIED_TS'),\n        ']) AS NewWatermark FROM ', item().SrcSchemaName, '.', item().SrcTableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_SqlServerTablesParam",
									"type": "DatasetReference",
									"parameters": {
										"pDsServerName": {
											"value": "@item().SrcServerName",
											"type": "Expression"
										},
										"pDsDatabaseName": {
											"value": "@item().SrcDatabaseName",
											"type": "Expression"
										},
										"pDsSchemaName": {
											"value": "@item().SrcSchemaName",
											"type": "Expression"
										},
										"pDsTableName": {
											"value": "@item().SrcTableName",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Stored procedureUpdtMxModifiedDt",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LookupGetMaxMetaData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[edcsrcmetadata].[usp_UpdateMxWatermark]",
								"storedProcedureParameters": {
									"MetadataId": {
										"value": {
											"value": "@item().MetadataId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"NewWatermarkValue": {
										"value": {
											"value": "@activity('LookupGetMaxMetaData').output.firstRow.NewWatermark",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlserver_param",
								"type": "LinkedServiceReference",
								"parameters": {
									"pLsServerName": {
										"value": "@item().SrcServerName",
										"type": "Expression"
									},
									"pLsDatabasename": {
										"value": "@item().SrcDatabaseName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Daily Practice PipeLines/sqlserver_oracle_data_laod"
		},
		"annotations": []
	}
}